.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px; /* Footer height */
}

.content {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

section {
  margin-bottom: 40px;
}
